html {
	scroll-behavior: smooth;
	background-color:blanchedalmond;
}

body {
	margin: 0;
	font-family: Roboto;
	font-size: 16px;	
}

header h1 {
	text-align: center;
	color:darkred;
	padding: 4rem;
	
}
#menubar {
	background-color: #e74c3c;
	text-align: center;
	padding: 20px 0;
	position: sticky;
	top: 0;
	white-space: nowrap;
	
	
}

#menubar a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
	padding: 1em 1em;
	font-weight: 700;
	color:white;
	text-decoration: none;

}

#menubar a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	font-style: italic;
}
#menubar a:last-child {
	margin: 0;
}
#menubar a.current {
    background: black;
  }
  
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    #menubar {
      position: sticky;
      top: 0;
    }
  }

.section {
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color:white;
}

#section-1 {
	background-color: #1abc9c;
}

#section-2 {
	background-color: #f1c40f;
}

#section-3 {
	background-color: #9b59b6;
}
#section-4 {
	background-color:darksalmon;
}

#section-5 {
	background-color:green;
}

#section-6 {
	background-color:goldenrod;
}

